<div class="category">
    <form>
        <div class="form-group">
            <label for="formGroupNameInput">Group Name</label>
            <input type="text" class="form-control" id="formGroupNameInput" placeholder="Group name here">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-secondary">Cancel</button>
    </form>
    <div class="select-category">
        <select class="form-control" id="exampleFormControlSelect1">
            <option value="1">Uncategorized</option>
            <option value="2">C#</option>
            <option value="3">Java Script</option>
        </select>

        <div class="btn btn-link btn-sm text-primary">+ Add New Category</div>
    </div>
    <div class="add-category">
        <form>
            <div class="form-group">
                <label for="formGroupNameInput">Group Name</label>
                <input type="text" class="form-control" id="formGroupNameInput" placeholder="Group name here">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-secondary">Cancel</button>
        </form>
    </div>

</div>