<!doctype html>
<html lang="en">
<head>
    <title>Genious Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/admin-layout.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/ckeditor5-classic/ckeditor.js"></script>
</head>
<body class="gb">

    <aside class="sidebar">
        <div class="logo">

        </div>

        <div class="navigation-link">
            <a class="icon fa-tachometer" href="#">Dashboard</a>
            <a class="icon fa-bars" href="#">Articles</a>
            <a class="icon fa-user" href="#">Users</a>
            <a class="icon fa-sliders" href="#">Settings</a>
        </div>

        <div class="logout">
            Logout
        </div>
    </aside>

    <section class="main">
        @RenderBody()
    </section>

    <footer class="footer">
        © 2018 Powered by Genius Base
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
